PORT=3000
USER_ID=1010

NEXTJS_BUILD="nextjs-build"

ROOT="/app" 
# ROOT
# - check match: WORKDIR IN docker-nextjs-server/Dockerfile 
# - check match: WORKDIR IN docker-nextjs-server/docker-compose.yaml
# - check match: .env

VLM_DIR="vlm_share"
BLGREEN_SYNCED="build0"
BLGREEN_BUILD1="build1"
BLGREEN_BUILD2="build2"
BLGREEN_SYMLINK="current"
PM2_SERVER_NAME="nextjs-server"

# terminal colours - optional
BG_START="\033[43m"
BG_END="\033[42m"
RESET="\033[0m"
